
<!--========== Start Wrapper ==========-->
<div class="wrapper">
    <!--========== Start Header ==========-->
    <header class="lrs-header">
        <!--========== Start Navigation ==========-->
        {{>navBar}}
        <!--========== End Navigation ==========-->
    </header>
    <!--========== End Header ==========-->

    <!--========== Start Content First Section ==========-->
    <div class="lrs-first-section">
        <div class="container">
            <div class="row">
                {{#with section1}}
                    <div class="col-xs-12 col-sm-4 left">
                        <h1 class="title ajustment top">{{title}}</h1>
                        <h2 class="subtitle top">{{subtitle}}</h2>
                        <div class="lrs-divider-2"></div>
                        <div class="position">
                            <a href="#about"><p class="btn-modern top">About Me</p></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 pull-right right">
                        <img src="{{profileImage}}" class="img-responsive ajustPicture pictureTop" alt="Resume / CV">
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
    <!--========== End Content Top Section ==========-->

    <!--========== Start Content About Section ==========-->
    <div class="lrs-angle" id="about">
        <div class="lrs-angle-div">
            <div class="container">
                <div class="row">
                    {{#with section2}}
                        <div class="lrs-heading-wrap">
                            <h3 class="lrs-heading-title">
                                <span class="nr-heading-title">01.</span> {{headingTitle}}
                            </h3>
                        </div>
                        <div class="lrs-divider-3"></div>
                        <div class="col-sm-6">
                            <div class="row">
                                <p><b>
                                    {{content}}
                                </b></p>
                                <br/>
                                <ul class="list-unstyled list-inline">
                                    <!--<li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                    <li><a target="_blank" href="{{social1}}"><i class="fa {{social1Font}}"></i></a></li>
                                    <li><a target="_blank" href="{{social2}}"><i class="fa {{social2Font}}"></i></a></li>
                                    <!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                                </ul>
                                <div class="lrs-divider-3"></div>
                                <a target="_blank" href="{{download}}" class="btn-modern">Download resume</a>
                            </div>
                        </div>
                        <div class="col-sm-5 pull-right">
                            <div class="row">
                                <ul class="list-unstyled info">
                                    <li>Name:<span class="pull-right">{{title}}</span></li>
                                    <li>Date of birth:<span class="pull-right">{{dateOfBirth}}</span></li>
                                    <li>Email:<span class="pull-right">{{email}}</span></li>
                                    <li>Phone:<span class="pull-right">{{phone}}</span></li>
                                    <li>City:<span class="pull-right">{{city}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lrs-divider-3"></div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    <!--========== End Content About Section ==========-->

    <!--========== Start Content Education Section ==========-->
{{#with section3}}
    <section class="lrs-section" id="education">
        <div class="container">
            <div class="row">
                <div class="lrs-heading-wrap ">
                    <h3 class="lrs-heading-title">
                        <span class="nr-heading-title">02.</span> {{headingTitle}}
                    </h3>
                </div>
                <div class="lrs-divider-3"></div>
                <div class="timeline">
                    <div class="timeline-block timeline-block-left">
                        <div class="marker"></div>
                        <div class="timeline-content">
                            <h5>{{header}}</h5>
                            <span>{{subHeader}}</span>
                            <p>{{content}}</p>
                        </div>
                    </div>

                    <div class="timeline-block timeline-block-right">
                        <div class="marker"></div>
                        <div class="timeline-content">
                            <h5>{{header1}}</h5>
                            <span>{{subHeader1}}</span>
                            <p>{{content1}}</p>
                        </div>
                    </div>

                    <div class="timeline-block timeline-block-left">
                        <div class="marker"></div>
                        <div class="timeline-content">
                            <h5>{{header2}}</h5>
                            <span>{{subHeader2}}</span>
                            <p>{{content2}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/with}}
    <!--========== End Content Education Section ==========-->

    <!--========== Start Content Skills Section ==========-->
{{#with section4}}
    <section class="lrs-angle" id="skills">
        <div class="lrs-angle-div">
            <div class="container">
                <div class="row">
                    <div class="lrs-heading-wrap">
                        <h3 class="lrs-heading-title">
                            <span class="nr-heading-title">03.</span> {{headingTitle}}
                        </h3>
                    </div>
                    <div class="lrs-divider-3"></div>
                    <div class="col-sm-6 left">
                        <div class="lrs-progress">
                            <div class="lrs-progress-bar">
                                <div class="lrs-progress-bar-title">
                                    <span>{{skill}}</span>
                                    <span class="pull-right">{{level}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{level}}" aria-valuemin="20" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="lrs-progress-bar">
                                <div class="lrs-progress-bar-title">
                                    <span>{{skill1}}</span>
                                    <span class="pull-right">{{level1}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{level1}}" aria-valuemin="20" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="lrs-progress-bar">
                                <div class="lrs-progress-bar-title">
                                    <span>{{skill2}}</span>
                                    <span class="pull-right">{{level2}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{level2}}" aria-valuemin="20" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 right">
                        <div class="lrs-progress">
                            <div class="lrs-progress-bar">
                                <div class="lrs-progress-bar-title">
                                    <span>{{skill3}}</span>
                                    <span class="pull-right">{{level3}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{level3}}" aria-valuemin="20" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="lrs-progress-bar">
                                <div class="lrs-progress-bar-title">
                                    <span>{{skill4}}</span>
                                    <span class="pull-right">{{level4}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{level4}}" aria-valuemin="20" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="lrs-progress-bar">
                                <div class="lrs-progress-bar-title">
                                    <span>{{skill5}}</span>
                                    <span class="pull-right">{{level5}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{level5}}" aria-valuemin="20" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{{/with}}
    <!--========== End Content Skills Section ==========-->

    <!--========== Start Content Experience Section ==========-->
{{#with section5}}
    <section class="lrs-section" id="experience">
        <div class="container">
            <div class="row">
                <div class="lrs-heading-wrap">
                    <h3 class="lrs-heading-title">
                        <span class="nr-heading-title">04.</span> {{headingTitle}}
                    </h3>
                </div>
                <div class="lrs-divider-3"></div>
                <div class="timeline">
                    <div class="timeline-block timeline-block-right">
                        <div class="marker"></div>
                        <div class="timeline-content">
                            <h5>{{header}}</h5>
                            <span>{{subHeader}}</span>
                            <p>{{content}}</p>
                        </div>
                    </div>

                    <div class="timeline-block timeline-block-left">
                        <div class="marker"></div>
                        <div class="timeline-content">
                            <h5>{{header1}}</h5>
                            <span>{{subHeader1}}</span>
                            <p>{{content1}}</p>
                        </div>
                    </div>

                    <div class="timeline-block timeline-block-right">
                        <div class="marker"></div>
                        <div class="timeline-content">
                            <h5>{{header2}}</h5>
                            <span>{{subHeader2}}</span>
                            <p>{{content2}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{{/with}}
    <!--========== End Content Experience Section ==========-->

    <!--========== Start Content Work Section ==========-->
    <!--<section class="lrs-angle" id="work">
        <div class="lrs-angle-div">
            <div class="container-fluid">
                <div class="row">
                <div class="lrs-heading-wrap">
                    <h3 class="lrs-heading-title">
                        <span class="nr-heading-title">05.</span> Work
                    </h3>
                </div>
                <div class="lrs-divider-3"></div>
                <ul class="list-unstyled list-inline lrs-list-protfolio" id="filter">
                    <li class="active fil-cat" data-rel="all">All</li>
                    <li class="fil-cat" data-rel="web">Html / CSS</li>
                    <li class="fil-cat" data-rel="js">JavaScript</li>
                    <li class="fil-cat" data-rel="wordpress">Wordpress</li>
                </ul>
                <div class="lrs-projects">
                    <div class="lrs-project scale-anm web js wordpress all" data-toggle="modal" data-target="#one">
                        <div class="lrs-project-image">
                            <img src="/images/w1.jpg" class="img-responsive" alt="Resume / CV" />
                            <div class="lrs-project-content">
                                <h6 class="lrs-project-title">Lorem ipsum dolor</h6>
                                <p class="lrs-project-client"><b>GOOGLE</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="lrs-project scale-anm js html all" data-toggle="modal" data-target="#one">
                        <div class="lrs-project-image">
                            <img src="/images/91.jpg" class="img-responsive" alt="Resume / CV" />
                            <div class="lrs-project-content">
                                <h6 class="lrs-project-title">Lorem ipsum dolor</h6>
                                <p class="lrs-project-client"><b>YAHOO</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="lrs-project scale-anm wordpress js web all" data-toggle="modal" data-target="#one">
                        <div class="lrs-project-image">
                            <img src="/images/92.jpg" class="img-responsive" alt="Resume / CV" />
                            <div class="lrs-project-content">
                                <h6 class="lrs-project-title">Lorem ipsum dolor</h6>
                                <p class="lrs-project-client"><b>MICROSOFT</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="lrs-project scale-anm js wordpress all" data-toggle="modal" data-target="#one">
                        <div class="lrs-project-image">
                            <img src="/images/94.jpg" class="img-responsive" alt="Resume / CV" />
                            <div class="lrs-project-content">
                                <h6 class="lrs-project-title">Lorem ipsum dolor</h6>
                                <p class="lrs-project-client"><b>INTEL</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="lrs-project scale-anm web wordpress all" data-toggle="modal" data-target="#one">
                        <div class="lrs-project-image">
                            <img src="/images/93.jpg" class="img-responsive" alt="Resume / CV" />
                            <div class="lrs-project-content">
                                <h6 class="lrs-project-title">Lorem ipsum dolor</h6>
                                <p class="lrs-project-client"><b>FACEBOOK</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </section>-->
    <!--========== End Content Work Section ==========-->

    <!--========== Start Content Reference Section ==========-->
    <!--<section class="lrs-section" id="reference">
        <div class="container">
            <div class="lrs-heading-wrap">
                <h3 class="lrs-heading-title">
                    <span class="nr-heading-title">06.</span> References
                </h3>
            </div>
            <div class="lrs-divider-3"></div>
            <div class="lrs-testimonials" id="lrs-testimonials">
                <div class="carousel" data-ride="carousel" id="quote-carousel">-->
                    <!--==========  Carousel Slides / Quotes  ==========-->
                    <!--<div class="carousel-inner">-->
                        <!--==========  Quote 1  ==========-->
                        <!--<div class="item col-sm-10 col-sm-offset-1 active">
                            <blockquote class="style_2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                aliquam architecto beatae dolorem, enim error eveniet harum iste molestias
                                neque nisi placeat possimus quaerat quam repudiandae sint soluta unde vero.
                                <span class="author">- Andrew Adams, Google Inc</span>
                            </blockquote>
                        </div>-->
                        <!--==========  Quote 2  ==========-->
                        <!--<div class="item col-sm-10 col-sm-offset-1">
                            <blockquote class="style_2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                aliquam architecto beatae doloremaliquam architecto beatae dolorem, enim error
                                eveniet harum iste molestias neque nisi placeat.
                                <span class="author">- Jhon Smith, Facebook Inc</span>
                            </blockquote>
                        </div>-->
                        <!--==========  Quote 3  ==========-->
                        <!--<div class="item col-sm-10 col-sm-offset-1">
                            <blockquote class="style_2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                aliquam architecto beatae dolorem, enim error eveniet harum iste molestias
                                neque nisi placeat possimus quaerat quam repudiandae sint.
                                <span class="author">- Bob Smith, Fitbit</span>
                            </blockquote>
                        </div>

                    </div>-->
                    <!--==========  Bottom Carousel Indicators  ==========-->
                    <!--<ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="/images/c2.jpg" alt="Resume / CV">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="/images/c3.jpg" alt="Resume / CV">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="/images/user_3.png" alt="Resume / CV">
                        </li>
                    </ol>-->

                    <!--==========  Carousel Buttons Next/Prev  ==========-->
                    <!--<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="clients">
                <div class="col-xs-4 col-sm-2">
                    <img src="/images/logo4.png" class="img-responsive" alt="Resume / CV"/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <img src="/images/logo2.png" class="img-responsive" alt="Resume / CV"/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <img src="/images/logo3.png" class="img-responsive" alt="Resume / CV"/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <img src="/images/logo1.png" class="img-responsive" alt="Resume / CV"/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <img src="/images/logo5.png" class="img-responsive" alt="Resume / CV"/>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <img src="/images/logo6.png" class="img-responsive" alt="Resume / CV"/>
                </div>
            </div>
        </div>
    </section>-->
    <!--========== End Content Reference Section ==========-->

    <!--========== Start Content Pricing Section ==========-->
    <!--<section class="lrs-angle" id="pricing">
        <div class="lrs-angle-div">
            <div class="container">
                <div class="row">
                    <div class="lrs-heading-wrap">
                        <h3 class="lrs-heading-title">
                            <span class="nr-heading-title">07.</span> Pricing
                        </h3>
                    </div>
                    <div class="lrs-divider-3"></div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-0">
                        <div class="lrs-plan">
                            <p class="lrs-title">Basic</p>
                            <span>Individual</span>
                            <div class="lrs-price">
                                <p class="pr"><span class="dollar">$</span>29<span class="dot">.99</span><span class="month">/month</span></p>
                            </div>
                            <hr/>
                            <ul class="list-unstyled">
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Manage tasks</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> 10GB Disk Space</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> 2 Database</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-minus-circle"></i> Web Design</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-minus-circle"></i> Development</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-minus-circle"></i> Mobile apps</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-minus-circle"></i> Email integration</p>
                                </li>
                            </ul>
                            <a href="#" class="btn">Purchase</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-0">
                        <div class="lrs-plan">
                            <p class="lrs-title">Premium</p>
                            <span>Business</span>
                            <div class="lrs-price">
                                <p class="pr"><span class="dollar">$</span>59<span class="dot">.99</span><span class="month">/month</span></p>
                            </div>
                            <hr/>
                            <ul class="list-unstyled">
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Manage tasks</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> 10GB Disk Space</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> 2 Database</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Web Design</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Development</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-minus-circle"></i> Mobile apps</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-minus-circle"></i> Email integration</p>
                                </li>
                            </ul>
                            <a href="#" class="btn">Purchase</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-0">
                        <div class="lrs-plan">
                            <p class="lrs-title">Ultimate</p>
                            <span>Enterprise</span>
                            <div class="lrs-price">
                                <p class="pr"><span class="dollar">$</span>99<span class="dot">.99</span><span class="month">/month</span></p>
                            </div>
                            <hr/>
                            <ul class="list-unstyled">
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Manage tasks</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> 10GB Disk Space</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> 2 Database</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Web Design</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Development</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Mobile apps</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-check-circle"></i> Email integration</p>
                                </li>
                            </ul>
                            <a href="#" class="btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--========== End Content Pricing Section ==========-->

    <!--========== Start Content Blog Section ==========-->
    <section class="lrs-section" id="blog">
        <div class="container">
            <div class="row">
                <div class="lrs-heading-wrap">
                    <h3 class="lrs-heading-title">
                        <span class="nr-heading-title">05.</span> My Blog
                    </h3>
                </div>
                <div class="lrs-divider-3"></div>
                <div class="col-sm-6">
                    <div class="lrs-post">
                        <a href="/post">
                            <img src="/images/b1.jpg" class="img-responsive lrs-post-img" alt="Resume / CV"/>
                            <div class="lrs-post-overlay"></div>
                            <div class="lrs-post-content">
                                <span class="lrs-post-categories"><i>UX & UI Design</i></span>
                                <h5 class="lrs-post-title"><b>Title post</b></h5>
                                <p class="lrs-post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur ea eligendi
                                    expedita, facere fugit ipsum.</p>
                                <p class="btn-modern">Read article</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="lrs-post">
                        <a href="/post">
                            <img src="/images/b3.jpg" class="img-responsive lrs-post-img" alt="Resume / CV"/>
                            <div class="lrs-post-overlay"></div>
                            <div class="lrs-post-content">
                                <span class="lrs-post-categories"><i>UX & UI Design</i></span>
                                <h5 class="lrs-post-title"><b>Title post</b></h5>
                                <p class="lrs-post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur ea eligendi
                                    expedita, facere fugit ipsum.</p>
                                <p class="btn-modern">Read article</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="lrs-post">
                        <a href="/post">
                            <img src="/images/b2.jpg" class="img-responsive lrs-post-img" alt="Resume / CV"/>
                            <div class="lrs-post-overlay"></div>
                            <div class="lrs-post-content">
                                <span class="lrs-post-categories"><i>UX & UI Design</i></span>
                                <h5 class="lrs-post-title"><b>Title post</b></h5>
                                <p class="lrs-post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur ea eligendi
                                    expedita, facere fugit ipsum.</p>
                                <p class="btn-modern">Read article</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="lrs-post">
                        <a href="/post">
                            <img src="/images/b1.jpg" class="img-responsive lrs-post-img" alt="Resume / CV"/>
                            <div class="lrs-post-overlay"></div>
                            <div class="lrs-post-content">
                                <span class="lrs-post-categories"><i>UX & UI Design</i></span>
                                <h5 class="lrs-post-title"><b>Title post</b></h5>
                                <p class="lrs-post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur ea eligendi
                                    expedita, facere fugit ipsum.</p>
                                <p class="btn-modern">Read article</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========== End Content Blog Section ==========-->

    <!--========== Start Content Contact Section ==========-->
{{#with section7}}
    <section class="lrs-angle" id="contact">
        <div class="lrs-angle-div">
            <div class="container">
                <div class="row">
                    <div class="lrs-heading-wrap">
                        <h3 class="lrs-heading-title">
                            <span class="nr-heading-title">06.</span> {{headingTitle}}
                        </h3>
                    </div>
                    <div class="lrs-divider-3"></div>
                    <div class="email">
                        <h5 class="email"  data-toggle="modal" data-target="#modal_contact">
                            <b>{{email}}</b>
                            <span class="click_email"><i class="fa fa-long-arrow-left"></i> Click here!</span>
                        </h5>
                    </div>
                    <h5 class="phone">
                        <b>{{phone}}</b>
                    </h5>
                    <ul class="list-unstyled list-inline social">
                        <!--<li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a target="_blank" href="{{social1}}"><i class="fa {{social1Font}}"></i></a></li>
                        <li><a target="_blank" href="{{social2}}"><i class="fa {{social2Font}}"></i></a></li>
                        <!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                    </ul>
                    <p class="copy_rights">© 2019 Orion Black. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>
{{/with}}
    <!--========== End Content Contact Section ==========-->
</div>


<!--========== Start Modal Work ==========-->
<!--<div class="modal fade lrs-modal-project" id="one" tabindex="-1" role="dialog" aria-labelledby="modal_contact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="lrs-divider-3"></div>
            <h3 class="lrs-modal-project-title"><b>LOREM IPSUM SIT AMET, CONSECTETUR ADIPISICING ELIT</b></h3>
            <div class="lrs-divider-3"></div>
            <h6 class="lrs-modal-project-subtitle"><b>Project description</b></h6>
            <p class="lrs-modal-project-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur
                consequatur ducimus fugit incidunt molestiae odit tempora totam vel.
                Aspernatur assumenda at dolore enim error laudantium porro ratione veritatis vero! Aliquam aspernatur
                consequatur ducimus fugit incidunt molestiae odit tempora totam vel.
            </p>
            <ul class="list-unstyled list-inline lrs-modal-project-social">
                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <div class="lrs-divider-3"></div>
            <div class="lrs-modal-project-steps">
                <div class="col-sm-4">
                    <img src="/images/m1.jpg" class="img-responsive" alt="Resume / CV"/>
                    <h6 class="lrs-modal-project-steps-title"><b><span class="lrs-color-2">01.</span> FIRST STEP</b></h6>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
                <div class="col-sm-4">
                    <img src="/images/m2.jpg" class="img-responsive" alt="Resume / CV"/>
                    <h6 class="lrs-modal-project-steps-title"><b><span class="lrs-color-2">02.</span> SECOND STEP</b></h6>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
                <div class="col-sm-4">
                    <img src="/images/m3.jpg" class="img-responsive" alt="Resume / CV"/>
                    <h6 class="lrs-modal-project-steps-title"><b><span class="lrs-color-2">03.</span> THIRD STEP</b></h6>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
            </div>
            <div class="lrs-divider-3"></div>
            <div class="text-left">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, animi debitis dolor error et mollitia nam nisi officia perferendis sequi. Commodi excepturi inventore iste minima nemo repudiandae? Eaque non, porro!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias dignissimos enim explicabo inventore laudantium nam nemo, non provident quod, ratione recusandae sapiente, suscipit. Doloremque enim eveniet hic impedit odio?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus iusto nobis quaerat quidem? Autem commodi, deserunt dolores fugiat harum itaque maiores nisi omnis perspiciatis rem reprehenderit similique unde voluptas voluptates?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt fugiat itaque sed. Blanditiis, consequatur, dolorum eius error, excepturi maxime molestiae natus non quae recusandae rem repellat rerum totam velit!
            </div>
            <div class="lrs-divider-3"></div>
            <div class="col-sm-8 col-sm-offset-2">
                <img src="/images/m4.jpg" class="img-responsive img" alt="Resume / CV"/>
            </div>
        </div>
    </div>
    <p class="btn-modern dismiss-modal" data-dismiss="modal">X</p>

</div>-->
<!--========== End Modal Work ==========-->

<!--========== Start Modal Contact ==========-->
<div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="modal_contact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="lrs-divider-3"></div>
            <h4><b>Contact Me</b></h4>
            <div class="lrs-divider-3"></div>
            <form action="/post/send" method="POST" class="form_contact">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
                <div class="input-group">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                </div>
                <div class="input-group">
                    <textarea name="message" name="message" class="form-control"  id="message" placeholder="Message"></textarea>
                </div>
                <div class="input-group">
                    <input type="submit" class="submit pull-right" value="Send"/>
                </div>
            </form>
            <p class="btn-modern dismiss-modal" data-dismiss="modal">X</p>
        </div>
    </div>
</div>
<!--========== End Modal Contact ==========-->
<script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/javascripts/modernizr.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

<script src="/javascripts/html5shiv.js" type="text/javascript"></script>
<script src="/javascripts/respond.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/javascripts/mansory.js"></script>
<script type="text/javascript" src="/javascripts/gallery.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
